@model IPagedList<ContactListViewModel>

@{
    ViewBag.Title = "Contact List";
}


<form method="get" action="@Url.Action("Index")"
      data-magic-ajax="true" data-magic-target="#contactList">

    <input type="search" name="searchTerm" data-magic-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="Search By Name" class="btn btn-info" />
</form>

<p>
    @Html.ActionLink("Create New", "Create", "Contacts", null, new { @class = "btn btn-primary btn-sm" })
</p>

@Html.Partial("_ContactList", Model)
